/* MAIN */
main {
    grid-area: main;
    margin-top: 25px;
    margin-bottom: calc(25px - 17.6px);
}

h2 {
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 17.6px;
}

p {
    text-align: justify;
    font-size: 1rem;
}